extend layout
block content
    #message-area
        ul#user-list.list
        ul#message-list.list
    form#login-form(method='post', action='')
        input(type='text', name='name', placeholder='Name')
        button(type='submit') Join
    form#chat-form(method='post', action='')
        input(type='text', name='message', placeholder='Message')
        button(type='submit') Post
    script(src='https://cdn.socket.io/socket.io-1.2.1.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    script(src='js/chat.js')